<div class="headerofpage">
    Wellcome to our application 
</div>
<div class="subheaderofpage">
    Please register to continue.
</div>
<div class="login-container">
    <h2 class="headingofform">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="username">Name :-</label>
        <input type="text" id="username" formControlName="username" placeholder="Enter username" />
        <small *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
          <span *ngIf="registerForm.get('username')?.errors?.['required']">name is required.</span>
          <span *ngIf="registerForm.get('username')?.errors?.['minlength']">name must be at least 3 characters long.</span>
        </small>
      </div>
      <div class="form-group">
        <label for="email">Email :-</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter email" />
        <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
          <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email address.</span>
        </small>
      </div>
      <div class="form-group">
        <label for="password">Password :-</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter password" />
        <small *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
          <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">
            Password must be at least 12 characters long.
          </span>
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']">
            Password must include at least one lowercase letter, one uppercase letter, and one special character.
          </span>
        </small>
      </div>
      <div class="form-group">
      <label for="passwordConfirm">Confirm Password :-</label>
      <input type="password" id="passwordConfirm" formControlName="passwordConfirm" placeholder="Confirm password" />
      <small *ngIf="registerForm.get('passwordConfirm')?.touched && registerForm.get('passwordConfirm')?.invalid">
        <span *ngIf="registerForm.get('passwordConfirm')?.errors?.['required']">Confirm Password is required.</span>
      </small>
      <small *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('passwordConfirm')?.touched">
        Passwords do not match.
      </small>
    </div>
      <button type="submit" [disabled]="registerForm.invalid">register</button>
    </form>
    <div class="login-link">
      <p>Have an account?<a routerLink="/login">Login here</a></p>
  </div>
  </div>
  