
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
   Register
  </button> -->
  <!-- <button type="button" class="btn btn-primary" (click)="openModal()">Register</button> -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Register
  </button>
  
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          <form [formGroup]="register" (ngSubmit)="oncreate()">
            <div class="form-group">
              <label for="name">Name :-</label>
              <input type="text" id="name" formControlName="name" placeholder="Enter name" />
              <small *ngIf="register.get('name')?.touched && register.get('name')?.invalid">
                <span *ngIf="register.get('name')?.errors?.['required']">Name is required.</span>
                <span *ngIf="register.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</span>
              </small>
            </div>
            <div class="form-group">
              <label for="experience">Experience :-</label>
              <input type="number" id="experience" formControlName="experience" placeholder="Enter experience" />
              <small *ngIf="register.get('experience')?.touched && register.get('experience')?.invalid">
                <span *ngIf="register.get('experience')?.errors?.['required']">Experience is required.</span>
                <span *ngIf="register.get('experience')?.errors?.['min']">Experience must be a positive number.</span>
              </small>
            </div>
            <div class="form-group">
              <label for="dateofbirth">Date of Birth :-</label>
              <input
                type="date"
                id="dateofbirth"
                formControlName="dateofbirth"
                placeholder="Select DOB"
              />
              <small
                *ngIf="
                  register.get('dateofbirth')?.touched &&
                  register.get('dateofbirth')?.invalid
                "
              >
                <span *ngIf="register.get('dateofbirth')?.errors?.['required']"
                  >Date of birth is required.</span
                >
                <span *ngIf="register.get('dateofbirth')?.errors?.['dateNotInPast']">Date of Birth must be in the past.</span>
              </small>
            </div>
            <div class="form-group">
              <label for="role">Role :-</label>
              <input type="text" id="role" formControlName="role" placeholder="Enter role" />
              <small *ngIf="register.get('role')?.touched && register.get('role')?.invalid">
                <span *ngIf="register.get('role')?.errors?.['required']">Role is required.</span>
              </small>
            </div>
            <button class="buttonsubmit" type="submit" [disabled]="register.invalid"  data-bs-dismiss="modal">Save</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>